/* Universal styles */
* {
    font-family: 'Raleway', sans-serif;
    transition: ease all 0.5s;
    box-sizing: border-box !important; 
}

#Container {
    margin: 20px auto;
    /* padding: 10px auto; */
    /* box-shadow: 0 0 10px; */
}

.img-fluid {
    padding: 0;
}

.transform {
    transform: scaleX(-1);
}



/* Universal Styles end */


/* navbar */
#navbar {
    background-color: white;
    box-shadow: 0px 10px 25px ;
}

.nav-style > ul > li {
    padding: 10px 10px;
}

.nav-style > ul > li > a {
    font-weight: 500;
    letter-spacing: 2px;
    color: #028c8c;
}

.nav-style > ul > li > a:hover{
    color: white;
    font-weight: 600;
    background-color: #028c8c;
}

/* navbar end */



/* Solo titles */

.titles {
    width: 100%;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

/* Solo titles end */

.form {
    background-color: #028c8c;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  form {
    width: 50%;
  }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #028c8c;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    border: 1px solid white;
    color: white;
    background-color: #028c8c;
    padding: 10px 20px;
    letter-spacing: 2px;
    width: 100%;
  }

  input[type=submit]:hover{
    background-color: white;
    color: #028c8c;
  }

  label {
    text-align: left;
    font-weight: 500;
    width: 100%;
  }

  .checkbox {
    width: 100%;
    text-align: left;
  }

 #sign-in-externel > i {
    padding: 20px 20px;
    border-radius: 5px;
    color: white;
 }

 #sign-in-externel > i:hover {
    padding: 20px 20px;
    border-radius: 5px;
    color: #028c8c;
    background-color: white;
 }


.btn-custom {
    text-align: center;
    width: 100%;
    display: block;
}

.btn-custom > a {
    border: 1px solid white;
    color: white;
    padding: 10px;
    letter-spacing: 5px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: block;
}

.btn-custom > a:hover, 
.btn-custom > a:active {
    border: none;
    color: #028c8c;
    background-color: white;
}


/* footer */

.footer {
    background: #1a1a1a;
    height: auto;
}

.sub-footer {
    background: #2e2e2e;
    height: auto;
}

p > a {
    color: white;
    font-style: none;
    text-decoration: none;
}

p > a:hover {
    text-decoration: underline;
}

.icons > a > i{
   padding: 0 10px;
}

/* footer end */

/* colors */

/* #028c8c teal
#97d8e2 light
#1a1a1a black   
#ffffff white
02
#9cdccc light
#4dc3a3 Regular
#64a48c Shade
#216351 Darker
#d1bda2 Furniture
#393532 Furn darker */

/* colors end */