body {
  background-color: #222;
  color: #fff;
}

.button {
  color: white;
  text-decoration: none;
}

.button:hover {
  border: 10px white solid;
  background-color: white;
  color: black;
  border-radius: 12px;
  text-decoration: none;
}

footer {
  text-align: end;
  margin-left: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

form {
  max-width: 500px;
  width: 100%;
}

label {
  margin-bottom: 10px;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #535353;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

button {
  background-color: #1DB954;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #23d96c;
}