/* Playlist Player Styles */
.playlist-container {
    margin: 20px;
}

.player-container {
    margin: 20px;
}

#playlist {
    list-style: none;
    padding: 0;
}

#playlist li {
    cursor: pointer;
}

#playlist li:hover {
    background-color: #eee;
}
